      form {
          select {
              width: 100%;
              border: none;
              background: #fff;
              border-radius: 5px;
              padding: 1.7rem;
              font-size: 1.2rem;
              font-weight: 700;
              color: $color-orange;
              outline: none;
              position: relative;
              -webkit-appearance: none;
              -moz-appearance: none;
              -o-appearance: none;
              appearance: none;
              background: #fff url('../images/arrow_down.png');
              background-repeat: no-repeat;
              @include calc (background-position,
              '100% - 2rem');
          }
      }



      .btn-next {
          border: none;
          background: $color-orange;
          width: 100%;
          height: 6rem;
          font-size: 1.2rem;
          font-family: $ff;
          font-weight: 700;
          text-transform: uppercase;
          color: #fff;
          grid-area: c;
          align-self: end;
          transition: .3s ease-in-out;
      }
