.page-front-fullwidth-stories {

    body {
        background: #fff;
    }

    main {

        .temoignage-full-stories {
            max-width: 850px;
            margin: 6rem auto 0;

            @include media-breakpoint-up(md) {
                margin: 12rem auto 0;
            }

            .header {

                h1 {
                    display: inline;
                    padding-left: 2rem;
                    text-transform: none;
                    color: $color-temoignage;
                    font-weight: 700;

                    @include media-breakpoint-up(md) {
                        padding-left: 5rem;
                    }

                }
                span {
                    display: inline-block;
                }

                .infos,
                .date {
                    display: block;
                    padding: 0 2rem;
                    font-size: 1.2rem;
                    margin: 1rem 0;

                    @include media-breakpoint-up(md) {
                        padding: 0 5rem;
                        font-size: 1.4rem;

                    }

                }

                .thumb-img-temoignage {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: inline-block;
                    float: right;
                    margin-right: 2rem;

                    @include media-breakpoint-up(md) {
                        width: 130px;
                        height: 130px;
                        margin-right: 5rem;
                    }

                }

            }

            .body {
                padding: 0 2rem;

                h2 {
                    font-size: 2.2rem;
                    font-weight: 400;
                    font-style: normal;
                    color: $color-txt;
                    margin: 0;
                }

                p {
                    color: $color-txt;
                    font-size: 1.8rem;
                    line-height: 1.58;
                    letter-spacing: -.004em;
                    font-weight: 400;
                    margin: 0;
                }

                br {
                    line-height: 4rem;
                }

                @include media-breakpoint-up(md) {
                    padding: 0 5rem;
                    border-left: 1px solid rgba($color-temoignage, .3);
                    border-right: 1px solid rgba($color-temoignage, .3);

                    p {
                        color: $color-txt;
                        font-size: 2.1rem;
                        letter-spacing: -.003em;
                        font-weight: 100;
                    }

                }

            }

        }

    }

    .container-random-temoignage {

            max-width: 850px;
            margin: 6rem auto 0;

    }

}
