.page-front {

    body {
        position: relative;

    }

    main {

        .wrapper-section {

            &.section-survey {
                @include media-breakpoint-up(md) {
                    display: flex;
                    flex-flow: row wrap;
                }

            }

            @include media-breakpoint-up(lg) {
                display: flex;
                flex-flow: row wrap;
            }

        }

        section {
            padding: 4rem 2rem 0;

            @include media-breakpoint-up(md) {
                padding: 4rem 2rem 6rem;

            }

            h1.title-inner {
                font-size: 2.2rem;
                font-weight: 400;
                text-transform: none;
                color: $color-main;
                text-align: center;
                line-height: 1.4;

                span {
                    display: block;
                    font-size: 1.4rem;
                }

                &.title-inner--surveys {
                    color: $color-survey;
                    text-align: center;
                    max-width: 600px;
                    margin: 0 auto;
                    padding: 0 2rem;
                    position: relative;

                    &:not(:first-child) {

                        &::before {
                            content: '';
                            position: absolute;
                            top: -5rem;
                            left: 50%;
                            width: 30rem;
                            height: 2px;
                            background: $color-survey;
                            transform: translateX(-50%);
                        }

                    }

                    &.title-inner--surveys-no-border {
                        &::before {
                            height: 0;
                        }
                    }

                }

                &.title-inner--temoignage {
                    color: $color-temoignage;
                }

                @include media-breakpoint-up(md) {
                    font-size: 2.8rem;
                    text-align: left;

                    span {
                        font-size: 1.8rem;
                    }
                }

                @include media-breakpoint-up(lg) {
                    font-size: 3.2rem;
                }
            }


            .wrapper-btn {
                z-index: 2;
                margin: 0 -2rem;


                &.btn-temoignage {

                    a {
                        &.write {
                            @include ctm-1($color-temoignage, url('../images/write_icon.svg'));
                            border-bottom: 1px solid $color-temoignage;

                            &::after {
                                border-bottom: 1px solid #91C1B7;
                                height: 88px;
                            }

                            @include media-breakpoint-up(sm) {
                                border-bottom: none;

                                &::after {
                                    border-bottom: none;
                                    height: 87px;
                                }
                            }

                            @include media-breakpoint-up(xl) {
                                &::after {
                                    height: 127px;
                                }
                            }
                        }

                        &.read {
                            @include ctm-1($color-temoignage, url('../images/read_icon.svg'));

                        }

                    }

                    @include media-breakpoint-up(md) {
                        margin: 0;
                    }

                    @include media-breakpoint-up(xl) {
                        width: 62.5%;
                        position: absolute;
                        bottom: 0;
                    }

                }

                &.btn-surveys {

                    a.write {
                        @include ctm-1($color-survey, url('../images/write_icon.svg'));
                        border-bottom: 1px solid $color-survey;

                        &::after {
                            border-bottom: 1px solid #ffc539;
                            height: 88px;
                        }

                        @include media-breakpoint-up(sm) {
                            border-bottom: none;

                            &::after {
                                height: 87px;
                            }
                        }

                        &.write-result-surveys {
                            padding: 3.7rem 4rem 3.7rem 2rem;
                            text-align: left;
                            border-bottom: 0;

                            &::after {
                                height: 87px;
                                border-bottom: none;
                            }
                        }

                    }

                    a.read {
                        @include ctm-1($color-survey, url('../images/read_icon.svg'));

                    }

                    @include media-breakpoint-up(md) {
                        margin: 0 0 0 -4rem;

                        a {
                            width: 100%;

                            &.write {
                                border-bottom: 1px solid $color-survey;

                                &::after {
                                    border-bottom: 1px solid #ffc539;
                                    height: 88px;
                                }

                            }

                        }


                    }

                    @include media-breakpoint-up(lg) {
                        a {
                            width: 50%;

                            &.write {
                                border-bottom: none;

                                &::after {
                                    border-bottom: none;
                                    height: 87px;
                                }

                            }
                        }
                    }

                    @include media-breakpoint-up(xl) {
                        a.write {
                            &::after {
                                height: 127px;
                            }

                        }
                    }

                    &.btn-surveys-results {
                        margin: 0;

                        .write {
                            min-width: 100%;


                            &::after {
                                height: 128px;
                            }

                        }
                    }
                }

                @include media-breakpoint-up(sm) {
                    display: flex;
                    flex-flow: row wrap;

                }

            }

            @include media-breakpoint-up(md) {

                padding: 4rem 6rem 6rem;
            }

        }

        .intro {
            background: $color-main;
            position: relative;
            padding: 4rem 2rem 6rem;

            @include media-breakpoint-up(md) {
                padding: 4rem 6rem 6rem;
            }

            h1, h2 {
                color: #fff;
            }

            h2 {
                font-weight: 100;
                line-height: 1.3;
            }

            p + p {
                margin-bottom: 4rem;

            }

            @include media-breakpoint-up(lg) {
                width: 50%;
                padding-top: 0;
                padding-bottom: 12rem;

                h1 {
                    font-size: 5.2rem;
                }

                p {
                    margin-bottom: 2rem;

                    &:last-child {
                        margin-bottom: 4rem;
                    }

                }

                &::before {
                    content: '';
                    width: 100%;
                    height: 6rem;
                    position: absolute;
                    top: -6rem;
                    left: 0;
                    z-index: 10;
                    background: $color-main;

                }

            }

            @include media-breakpoint-up(xl) {
                width: 42.84722222222222%;

                &::before {
                    height: 12rem;
                    top: -12rem;

                }

            }

        }


        .section-second {
            text-align: center;
            padding: 4rem 0 0 0;
            background: #fff;

            @include media-breakpoint-up(md) {
                padding: 4rem 0 6rem 0;
            }

            @include media-breakpoint-up(lg) {
                width: 50%;

            }

            @include media-breakpoint-up(xl) {
                width: 57.15277777777778%;
                padding-bottom: 12rem;

            }

            &.public-temoignage {
                padding: 0;
            }

            canvas {
                margin-bottom: 10rem;


                &.chartsjs {
                    margin: 0;
                }

            }

            &.results-surveys {
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                padding: 2rem 0 0 0;
            }

        }

        .question-survey {




            @include media-breakpoint-up(sm) {
                // font-size: 2.8rem;
            }

            @include media-breakpoint-up(md) {
                // font-size: 2.8rem;
                max-width: 750px;
                margin: 0 auto 2rem auto;

                span  {
                    font-size: 1.8rem;
                }

            }

        }

        .highlight-temoignage {
            background: $color-light-grey;
            position: relative;


            @include media-breakpoint-up(md) {
                margin: 0 6rem;
                padding: 0;

                &::before {
                    content: '';
                    position: absolute;
                    top: 6rem;
                    left: -6rem;
                    bottom: 87px;
                    background: $color-temoignage;
                    @include calc(width, "100% + 12rem");
                    z-index: -1;
                }

            }

            @include media-breakpoint-up(lg) {
                margin-top: -6rem;
            }

            @include media-breakpoint-up(xl) {
                margin-top: -12rem;

                &::before {
                    bottom: 127px;
                }

            }

            .container-temoignage {
                display: flex;
                flex-flow: column wrap;

                @include media-breakpoint-up(md) {
                    display: flex;
                    flex-flow: row wrap;

                }

                .body-temoignage {

                    h1 {
                        color: $color-temoignage;
                    }

                    padding: 2rem 0;

                    @include media-breakpoint-down(sm) {
                       order: 2;
                   }

                   @include media-breakpoint-up(md) {
                    width: 70%;
                    padding: 6rem 4rem 4rem;
                }

                @include media-breakpoint-up(lg) {
                    width: 62.5%;
                    padding: 12rem 6rem 4rem;
                }

                p {
                    color: $color-txt;

                    @include media-breakpoint-up(lg) {
                        padding: 0 4rem;
                    }

                    &.sign-temoignage {
                        font-size: 1.4rem;
                        text-align: right;
                        margin-top: 3rem;

                        span {
                            display: block;
                        }

                        @include media-breakpoint-up(md) {
                            margin-bottom: 4rem;
                            font-size: 1.8rem;
                            font-weight: 500;
                        }

                    }

                    @include media-breakpoint-up(lg) {
                        max-width: 550px;
                        margin: 6rem auto;
                    }

                }

                a.link-back {
                    display: block;
                    text-align: center;
                    @include datestyle;
                    color: $color-temoignage;

                }

                button.mic {
                    border: 1px solid #000;
                    border-radius: 50%;
                    background: none;
                    width: 38px;
                    height: 38px;
                    background: url(../images/mic.svg);
                    background-repeat: no-repeat;
                    background-size: 60%;
                    background-position: 50% 50%;
                    outline: none;
                    cursor: pointer;
                    margin: 0 auto;
                    display: block;
                }

            }
            .img-temoignage {
                background-position: 50%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                &.write-temoignage {
                    display: none;
                }

                @include media-breakpoint-down(sm) {
                    align-self: center;
                    order: 1;
                }

                @include media-breakpoint-down(md) {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;


                }

                @include media-breakpoint-up(md) {
                    display: block;
                    width: 30%;
                    height: auto;
                    margin-bottom: -27rem;
                    border-radius: 0;

                    &.write-temoignage {
                        display: block;
                        background-image: url('../images/write-temoignage.jpg');
                    }

                }

                @include media-breakpoint-up(lg) {
                    width: 37.5%;
                    min-height: 900px;
                }

            }

        }

    }

    .bg-header {
        background: url('../images/bg-header-surveys.jpg');
        background-size: cover;
        background-position: 50%;
        min-height: 200px;
        position: relative;
        z-index: -1;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(255, 182, 8, .3);
            top: 0;
            z-index: -1;

        }


        @include media-breakpoint-up(md) {
            margin-top: -87px;
            min-height: 300px;
            width: 40%;
        }

        @include media-breakpoint-up(lg) {
            min-height: 400px;
        }

        @include media-breakpoint-up(xl) {
            min-height: 500px;
            margin-top: -12.7rem;
        }

    }


    .intro-surveys {
        background: #fff;

        h1 {
            color: $color-survey;
        }

        p {
            color: $color-txt;
            margin-bottom: 3rem;

            @include media-breakpoint-up(sm) {
                margin-bottom: 4rem;
            }

            @include media-breakpoint-up(md) {
                max-width: 450px;
                margin-bottom: 6rem;
            }

            @include media-breakpoint-up(lg) {
            }

        }

        @include media-breakpoint-up(md) {
            width: 60%;
            padding: 4rem 6rem 0 4rem;
        }

        @include media-breakpoint-up(lg) {
            width: 60%;
            padding: 20rem 6rem 0 4rem;
            margin-top: -8.7rem;
        }

        @include media-breakpoint-up(xl) {
            margin-top: -12.7rem;

        }

    }

    .surveys {
        background: #fff;
        padding: 0 2rem;

        @include media-breakpoint-up(md) {
            margin: 0 6rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -6rem;
                bottom: 0;
                background: $color-survey;
                @include calc(width, "100% + 12rem");
                z-index: -1;
            }
        }


        .highlight-result-surveys {
            margin: 0 -2rem;

            @include media-breakpoint-up(md) {
                margin: 0;
            }

            .container-question {
                padding: 4rem 0 2rem;
                margin-bottom: 2rem;

                @include media-breakpoint-up(md) {
                    padding: 6rem 0 4rem 0;
                    margin-bottom: 0;
                }

            }

        }

    }

}

}

