.login-box {
  max-width: 650px;
  width: 100%;
  margin: 8rem auto 0;
  padding: 4rem 6rem;

  @include media-breakpoint-up(md) {
    margin: 12rem auto 0;
    border: 2px solid $color-main;

  }

  h1 {
    font-size: 2.8rem;
    color: #FDA403;
    margin: 1rem 0;
  }

  h2 {
    font-size: 2rem;
  }

}

.form-login {
  input {
    border: 1px solid #fff;
    max-width: 250px;
    display: block;

    &[type="submit"] {
      border: 2px solid #fff;
      color: #fff;
      display: block;
      float: none !important;
    }
  }


  @include media-breakpoint-up(md) {
    padding: 0;
  }

}
