.container {
    padding: 0 2rem;
}


.alert {
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    padding: 2rem;
    z-index: 3;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 4rem;
    animation: fadeout 2s ease-out forwards;


    &.alert-danger {
        background: rgba(222, 60, 60, 1);
        border: 1px solid #DE3C3C;
    }

    &.alert-safe {
        background: rgba(84, 177, 101, 1);
        border: 1px solid #54b165;
    }
}

.alert-danger:empty, .alert-safe:empty {
    display: none;
}

@keyframes fadeout {
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}
