
.vignettes-temoignages {
    overflow: hidden;

    @include media-breakpoint-up(sm) {
        padding: 2rem 2rem;

    }

    .container-single-temoignage {
        display: flex;
        flex-flow: column wrap;
        font-size: 1.6rem;
        color: #fff;
        @include box-shadow(6);

        @include media-breakpoint-up(sm) {
            margin-bottom: 2rem;
        }

        @media (max-width: 991px) and (min-width: 768px) {
            min-height: 590px;
            float: left;
            @include calc (width, "50% - 1rem");

            &:nth-child(even) {
                margin-left: 2rem;
            }

            &:nth-child(2) {

                margin-top: 6rem;
            }

            &:nth-child(2n-1) {

                margin-top: -6rem;
            }

            &:first-child {
                margin-top: 0;
            }

        }

        @include media-breakpoint-up(lg) {
            width: 100%;
            float: none;
        }

        @include media-breakpoint-up(xl) {
            min-height: 590px;
            float: left;
            @include calc (width, "50% - 1rem");

            &:nth-child(even) {
                margin-left: 2rem;
            }

            &:nth-child(2) {

                margin-top: 6rem;
            }

            &:nth-child(2n-1) {

                margin-top: -6rem;
            }

            &:first-child {
                margin-top: 0;
            }

        }


        &.single-temoignage-public {
            background: rgba($color-temoignage, .6);

        }

        &.single-temoignage-mod {
            background: rgba($color-main, .6);

            .edit-mod {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 2rem;
                background: rgba(0, 0, 0, .6);
                opacity: 1;
                pointer-events: all;
                @include transition;

                @include media-breakpoint-up(md) {
                    pointer-events: none;
                    opacity: 0;

                }

            }

            &:hover {

                .edit-mod {
                    background: rgba(0, 0, 0, .6);
                    opacity: 1;
                    pointer-events: all;
                }

            }

        }

        &.single-temoignage-fullwidth {
            color: $color-txt;
            @include media-breakpoint-up(lg) {
                // padding: 4rem 0;
                margin: 4rem 6rem;
            }

        }

        .header {
            background-position: 50% 30%;
            background-size: cover;
            min-height: 22rem;
            flex-grow: 0;
            position: relative;

            h1 {
                display: inline-block;
                font-size: 3rem;
                font-style: italic;
                font-weight: 900;
                margin: 2.5rem 2rem 2rem 0;
            }

            .statut {

                img {
                    width: 20px;

                }

            }

            .thumb-img-temoignage {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                display: inline-block;
                float: right;
            }


        }

        .body {
            padding: 2rem;
            flex-grow: 1;
            h2 {

                font-size: 1.4rem;
                font-weight: 700;
                font-style: italic;
                text-transform: uppercase;
                float: left;
                display: inline-block;

            }


            .title-single--temoignage {
                clear: both;
                text-align: left;
                line-height: 1.5;
            }

            .date {
                float: right;
                @include datestyle;
            }

            .txt-body {
                h2 {
                    text-align: left;
                }

                p {
                    font-size: 1.4rem;
                    color: #fff;
                    line-height: 1.6;
                }

                a {
                    display: block;
                    text-align: center;
                    color: #fff;
                    margin: 1rem 0;
                    @include datestyle;
                }

            }

        }

        .footer {
            text-align: left;
            border-top: 1px solid rgba(255, 255, 255, .3);
            padding: 1rem 0;
            margin: 0 2rem;
            flex-grow: 0;

            span {
                display: inline-block;

                &.author {
                    display: inline-block;
                    float: left;
                    font-size: 1.3rem;
                }

                &.likes{
                    float: right;
                    font-size: 1.2rem;
                    margin-left: 0.2rem;
                }

            }

            a {
                @include datestyle();
                color: #fff;

                &.likes {
                    float: right;
                    position: relative;
                    padding-left: 2rem;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1.4rem;
                        height: 1.2rem;
                        background: url('../images/icon-heart.svg');
                        background-size: cover;
                        background-position: center;
                        @include transition;
                    }

                    &:hover::after {
                        background: url('../images/icon-heart--hover.svg');

                    }

                }

            }

        }

        .white {
            color: #fff;

            &:hover {
                color: rgba($color-main, .75);
            }

        }

    }


    .links-temoignage {
        padding: 1rem 0 2rem;

        a {
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            color: #fff;
            display: block;
            padding: 1rem 0;

            &.mod {
                color: $color-main;

            }

        }

        &.link-back {
            float: left;
            font-size: 1.2rem;
            margin-left: 2rem;
            text-transform: uppercase;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                height: 50px;
                background: url('../images/arrow-left.svg');
                background-size: contain;
            }

            @include media-breakpoint-up(md) {
                margin-left: 5rem;
            }

        }

    }

}

.links-temoignage-full {
    padding: 1rem 0 2rem;
    overflow: hidden;
    text-align: center;

    a {
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        padding: 1rem 0;

        & + a {
            margin-left: 1rem;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: -0.8rem;
                transform: translateY(-50%);
                width: 1px;
                height: 50%;
                background: rgba($color-main, .5);
            }
        }

        &.mod {
            color: $color-main;

        }


        &.link-back {
            float: left;
            font-size: 1.2rem;
            text-transform: uppercase;
            position: relative;
            padding-left: 2rem;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 12px;
                height: 12px;
                transform: translateY(-50%);
                background: url(../images/arrow-left-orange.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

    }

}
