.page-surveys-single {
    main {


        background: #fff;

        .wrapper-survey, form {
            height: 100%;

            .container-survey {
                display: grid;
                grid-template-rows: 3.5rem repeat(5, 1fr) 6rem;
                height: 100%;

                .header-survey {
                    background: coral;

                    h1 {
                        font-size: 1.4rem;
                    }
                }

                .body-survey {
                    background: green;
                    grid-row: 2/8;
                }
            }
        }
    }
}
