header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 6rem;
    text-align: center;
    background: #f7f7f7;
    // display: none;

    .logo-nav--home {
        width: 200px;
        height: 23px;
    }

    @media (max-height: 460px) {
        height: 4rem;

        .logo {
            width: 121px;
            height: 14px;
        }
    }
}
