.container {
  padding: 0 2rem;
}


.alert {
  position: absolute;
  top: 8rem;
  left: 0;
  right: 0;
  padding: 2rem;
  z-index: 3;
  color: #fff;
  font-size: 1.4rem;


  &.alert-danger {
    background: rgba(222, 60, 60, 1);
    border: 1px solid #DE3C3C;
  }

  &.alert-safe {
    background: rgba(84, 177, 101, .8);
    border: 1px solid #54b165;
  }
}

.alert-danger:empty, .alert-safe:empty {
  display: none;
}
