.container {
    padding: 0 2rem;
}


.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 2rem;
    z-index: 3;
    color: #fff;
    font-size: 1.4rem;
    width: 80%;
    text-align: center;
    line-height: 1.6;
}

&.alert-danger {
    background: #f15555;
    border: 1px solid #DE3C3C;
}

&.alert-safe {
    background: rgba(84, 177, 101, 1);
    border: 1px solid #54b165;
}


}

.alert-danger:empty, .alert-safe:empty {
    display: none;
}
