    html {
        font-size: 62.5%;
        @include antialiasing;

        @include media-breakpoint-up(md) {
            height: 100%;
        }
    }

    body {
        @include font-size;
        color: $color-txt;
        font-family: $ff;
        font-size: 1.2rem;
        background: $color-bg;
        // max-width: 1440px;
        margin: 0 auto;

    }

    h1 {
        font-family: $ff-title;
        text-transform: uppercase;
        font-size: 3.2rem;
        font-style: italic;
        font-weight: 700;
        margin: 0 0 2rem;

        @include media-breakpoint-up(sm) {
            font-size: 4.2rem;
        }

        @include media-breakpoint-up(sm) {
            font-size: 5.2rem;
        }



    }


    h2 {
        font-family: $ff;
        font-size: 2.4rem;
        margin: 0 0 2rem;
        font-weight: 100;
        line-height: 1.6;

        @include media-breakpoint-up(sm) {
            font-size: 2.8rem;
        }

        @include media-breakpoint-up(md) {
            font-size: 3.6rem;

        }

    }

    p {
        line-height: 1.6;
        text-align: left;
        font-size: 1.4rem;
        color: #fff;

        @include media-breakpoint-up(md) {
            font-size: 1.6rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
            font-weight: 100;
        }
    }

    a {
        color: $color-link;
        text-decoration: none;
        @include transition;

        &:hover {
            color: $color-hover;
        }
    }

    ul {
        @include reset-ul;
    }

    *,
    *:after,
    *:before {
        @include box-sizing(border-box);
    }
    .smartphones-bg-color {
        background: $color-smartphones;
    }

    .apps-bg-color {
        background: $color-apps;
    }

    .networks-bg-color {
        background: $color-networks;
    }
