// Colors

$color-bg: #fff;
$color-txt: #847474;
$color-main : #f87444;
$color-survey : #ffb608;
$color-temoignage : #75b1a5;


$color-link: #a9a9a9;
$color-hover: #fff;

$color-bd: #fff;
$color-bd-light: #fff;
$color-light-grey: #f1f1f1;


// fonts

$ff: 'Open Sans', sans-serif;
$ff-title : 'Open Sans', sans-serif;


//smartphones
$color-smartphones: #A85751;
$color-smartphones-second: #EF8354;  /* #f15922 */

//apps
$color-apps: #FB4D3D;
$color-apps-second: #88292F;

//réseaux sociaux
$color-networks: #526760;
$color-networks-second: #63B995;

