// Colors

$color-bg: #e2e2e1;
$color-txt: #b9b9b9;
$color-orange: #de7a22;  /* #f15922 */
$color-blue: #3e92a3;

$color-link: #a9a9a9;
$color-hover: #fff;

$color-bd: #fff;
$color-bd-light: #fff;


// fonts

$ff: 'Open Sans', sans-serif;
$ff-title : 'Open Sans', sans-serif;
