// Colors

$color-bg: #fff;
$color-txt: #b9b9b9;


$color-link: #a9a9a9;
$color-hover: #fff;

$color-bd: #fff;
$color-bd-light: #fff;


// fonts

$ff: 'Open Sans', sans-serif;
$ff-title : 'Open Sans', sans-serif;


//smartphones
$color-smartphones: #BFC0C0;
$color-smartphones-second: #BA1200;  /* #f15922 */

//apps
$color-apps: #FB4D3D;
$color-apps-second: #88292F;

//réseaux sociaux
$color-networks: #526760;
$color-networks-second: #63B995;
