.page-surveys {
    height: 100%;
    body {
        height: 100%;
    }
    main {
        background: linear-gradient( rgba(222, 122, 34, .25),
            rgba(222, 122, 34, .25)),
        url('../images/bg-smartphones-survey.jpg');
        background-size: cover;
        @include calc(height, "100% - 6rem");

        @media (max-height: 460px) {
            @include calc(height, "100% - 4rem");
        }

        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .container-surveys {
            height: 100%;
            @include media-breakpoint-up(md) {
                width: 100%;
                height: 100%;
                max-width: 700px;
                max-height: 600px;
                position: relative;
            }
            .wrapper-link {
                position: absolute;
                top: -30px;
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: 700;

                a.back-to-list {
                    color: #fff;
                    position: relative;
                    padding-left: 2.7rem;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 18px;
                        height: 17px;
                        top: 0;
                        left: 0;
                        background: url('../images/arrow-left.svg');
                    }
                }
            }
        }

        .credits {
            display: none;
            @include media-breakpoint-up(md) {
                display: block;
                position: absolute;
                bottom: 2rem;
                right: 2rem;
            }
        }
    }
    .wrapper-surveys {
        height: 100%;
    }

    .container-surveys {
        height: 100%;
    }

    .wrapper-surveys {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        background: #f0f0f0;
        height: 100%;


        .header-surveys {
            grid-row: 1;
            grid-column: 1/4;
            align-self: center;

            h1 {
                font-size: 2.4rem;
                font-weight: 300;
                color: $color-txt;
                text-align: center;
                max-width: 170px;
                margin: 0 auto;
                text-transform: none;
                line-height: 1.333333;
            }
        }

        .body-surveys {
            grid-column: 1/4;
            grid-row: 2/5;
            align-self: end;

            .surveys {

                li:first-child {
                    background: $color-smartphones;
                }

                li:nth-child(2) {
                    background: $color-apps;
                }

                li:nth-child(3) {
                    background: $color-networks;
                }

                li {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 7px;
                        width: 15%;
                        height: 100%;
                        width: 0;
                        height: 0;
                        border-top: 6px solid transparent;
                        border-bottom: 6px solid transparent;
                        transform: translateY(-50%);
                        border-left: 6px solid white;
                    }
                    a {
                        display: block;
                        text-align: left;
                        padding: 2.5rem 0 2.5rem 9rem;
                        position: relative;
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 1.4rem;
                        font-weight: 700;
                        overflow: hidden;

                        @media (max-height: 460px) {
                            padding: 1.8rem 0 1.8rem 9rem;
                        }


                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 3rem;
                            transform: translateY(-50%);
                            width: 23px;
                            height: 43px;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: -20px;
                            background: rgba(255, 255, 255, 0.2);
                            width: 15%;
                            height: 100%;
                            transform: skew(-15deg, 0);
                        }

                        span {
                            display: block;
                            text-align: left;
                            text-transform: none;
                            font-weight: 100;
                            font-size: 1.2rem;
                            font-weight: 300;

                            &:first-child {
                                margin: .5rem 3rem 2rem 0;

                                @media (max-height: 460px) {
                                    font-size: 1rem;
                                }
                            }

                            &:last-child {
                                font-weight: 700;
                                text-transform: uppercase;
                                position: relative;
                                margin-left: 2.8rem;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: -.5rem;
                                    left: -2.5rem;
                                    width: 18px;
                                    height: 15px;
                                    background: url('../images/icon_people.png');
                                    background-size: cover;
                                    z-index: 2;
                                }
                            }
                        }

                        &.smartphones-link::before {
                            background: url('../images/icon_smartphone.png');
                            background-size: cover;
                            height: 69px;
                            width: 37px;
                        }
                        &.apps-link::before {
                            background: url("../images/icon_apps.png");
                            background-size: cover;
                            height: 69px;
                            width: 37px;
                        }
                        &.socialn-link::before {
                            background: url('../images/icon_network.png');
                            background-size: cover;
                            height: 69px;
                            width: 37px;
                        }
                    }
                }
            }
        }
    }

}

.page-surveys-single {
    height: 100%;

    body {
        height: 100%;
    }

    main {
        @include calc(height, '100% - 6rem');

        @media (max-height: 460px) {
            @include calc(height, '100% - 4rem');
        }


        .wrapper-survey {
            display: grid;
            @include calc (height, "100% - 4px");
            grid-template-areas: "a" "b";
            grid-template-rows: 10.41666666666667% 89.58333333333333%;
            grid-template-columns: 100%;

            @include media-breakpoint-up(md) {
                grid-template-rows: 10.41666666666667% 89.68333333333333%;
            }

            &.wrapper-survey-redirection {
                height: 100%;
            }

            .header-main {
                grid-area: a;
                grid-row: 1;
                grid-column: 1;
                align-self: center;

                h1.title-intro {
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #fff;
                    margin: 0;
                    display: inline-block;
                    padding: 0 2rem;

                    @include media-breakpoint-up(md) {
                        padding: 0 4rem;
                    }
                }
            }
            .body-main {
                grid-area: b;
                grid-row: 2;
                grid-column: 1;

                form {
                    height: 100%;
                }

                .wrapper-question.wrapper-question-intro {
                    display: grid;
                    height: 100%;
                    grid-template-areas: "c" "d" "e";
                    grid-template-columns: 100%;
                    grid-template-rows: 20% 1fr 6rem;

                    @include media-breakpoint-up(md) {
                        grid-template-columns: repeat(6, 1fr);
                    }

                    .question {
                        grid-area: c;
                        padding: 0 2rem;

                        @include media-breakpoint-up(md) {
                            grid-column: 2/7;
                        }


                        h2 {
                            font-size: 1.8rem;
                            font-style: italic;
                            font-weight: 900;
                            text-transform: uppercase;
                            position: relative;
                            color: #fff;
                            margin: 0 0 1rem;

                            @include media-breakpoint-up(md) {
                                font-size: 2.4rem;
                            }
                        }

                        p {
                            margin: 0 0 1rem;
                            position: relative;

                            &:after {
                                content: '';
                                position: absolute;
                                bottom: -1.5rem;
                                left: 0;
                                width: 30px;
                                height: 4px;
                                background: $color-smartphones-second;
                            }

                            &.apps-survey {

                                &:after {
                                    background: $color-apps-second;
                                }
                            }

                            &.networks-survey {

                                &:after {
                                    background: $color-networks-second;
                                }
                            }
                        }
                    }

                    .answers {
                        grid-area: d;
                        grid-row: 2;
                        padding: 0 2rem;
                        margin-top: 4rem;
                        align-self: start;
                        display: grid;
                        grid-gap: 5px;
                        grid-template-areas: "a b" "c c";
                        grid-template-columns: 50%;

                        @include media-breakpoint-up(md) {
                            grid-column: 2/6;
                        }

                        li {
                            @include box_shadow(6);



                            .genre {
                                background: #fff;
                                border-radius: 5px;
                                font-size: 1.2rem;
                                font-weight: 700;
                                grid-row: 1;
                                position: relative;
                                display: block;
                                padding: 11rem 0 1rem;
                                text-align: center;
                                color: $color-smartphones-second;

                                &.male,
                                &.female {

                                    &:before {
                                        content: url('../images/picto_male.svg');
                                        width: 25px;
                                        height: 31px;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translateY(-50%) translateX(-50%);
                                    }

                                    &.apps-survey {
                                        &::before {
                                            content: url('../images/picto_male--apps.svg');
                                        }
                                    }

                                    &.networks-survey {
                                        &::before {
                                            content: url('../images/picto_male--networks.svg');
                                        }
                                    }
                                }

                                &.female {

                                    &:before {
                                        content: url('../images/picto_female.svg');
                                    }

                                    &.apps-survey {
                                        &::before {
                                            content: url('../images/picto_female--apps.svg');
                                        }
                                    }

                                    &.networks-survey {
                                        &::before {
                                            content: url('../images/picto_female--networks.svg');
                                        }
                                    }
                                }

                                &.apps-survey {
                                    color: $color-apps-second;
                                    &.male {
                                        &::before {
                                            content: url('../images/picto_male--apps.svg');
                                            width: 25px;
                                            height: 31px;
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translateY(-50%) translateX(-50%);
                                        }
                                    }

                                    &.female {
                                        &::before {
                                            content: url('../images/picto_female--apps.svg');
                                            width: 25px;
                                            height: 31px;
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translateY(-50%) translateX(-50%);
                                        }
                                    }
                                }

                                &.networks-survey {
                                    color: $color-networks-second;
                                    .male {
                                        &::before {
                                            content: url('../images/picto_male--networks.svg');
                                        }
                                    }

                                    .female {
                                        &::before {
                                            content: url('../images/picto_female--networks.svg');
                                        }
                                    }
                                }
                            }

                            &:first-child {
                                grid-area: a;
                                align-self: end;
                            }

                            &:nth-child(2) {
                                grid-area: b;
                                align-self: end;
                            }

                            &:nth-child(3) {
                                grid-area: c;
                            }

                            input[type="radio"] {
                                display: none;

                                &:checked+label {
                                    background: $color-smartphones-second;
                                    color: #fff;
                                }

                                &:checked+.male:before {
                                    content: url('../images/picto_male--white.svg');
                                }

                                &:checked+.female:before {
                                    content: url('../images/picto_female--white.svg');
                                }

                                &.apps-survey {
                                    &:checked+label {
                                        background: $color-apps-second;
                                    }
                                }

                                &.networks-survey {
                                    &:checked+label {
                                        background: $color-networks-second;
                                    }
                                }
                            }
                        }
                    }

                    button {
                        grid-area: e;
                        align-self: end;
                        grid-row: 3;
                        outline: none;

                        @include media-breakpoint-up(md) {
                            grid-column: 1/9;
                        }
                    }
                }

                .wrapper-question {
                    display: grid;
                    height: 100%;
                    grid-template-areas: "c" "d" "e";
                    grid-template-columns: 100%; // grid-template-rows: 20% 1fr 6rem; // @include media-breakpoint-up(md) {
                        //     grid-template-columns: repeat(6,1fr);
                        //     justify-content: center;
                        // }
                        @include media-breakpoint-up(md) {
                            grid-template-columns: repeat(8, 1fr);
                        }
                        .question {
                            grid-area: c;
                            padding: 0 2rem;

                            @include media-breakpoint-up(md) {
                                padding: 0 2rem 0 4rem;
                                grid-row: 2;
                                grid-column: 1/5;
                            }

                            .subtitle-question {
                                font-size: 1.4rem;
                                font-weight: 400;
                                color: #fff;
                                line-height: 1.6;
                                position: relative;

                                &:after {
                                    content: '';
                                    position: absolute;
                                    bottom: -1.5rem;
                                    left: 0;
                                    width: 30px;
                                    height: 4px;
                                    background: $color-smartphones-second;
                                }

                                @include media-breakpoint-up(md) {
                                    font-size: 1.8rem;
                                }

                                &.apps-survey {

                                    &::after {
                                        background: $color-apps-second;
                                    }
                                }

                                &.networks-survey {

                                    &::after {
                                        background: $color-networks-second;
                                    }
                                }
                            }
                        }

                        .answers:not(.answers-intro) {
                            grid-area: d;
                            grid-row: 2;
                            padding: 0 2rem;
                            align-self: start;
                            max-height: 100%;
                            overflow-y: auto;


                            @media (max-height: 460px) {
                                max-height: 100%;
                                overflow: scroll;
                            }

                            @include media-breakpoint-up(md) {
                                padding: 0 4rem 0 2rem;
                                grid-column: 5/9;
                            }

                            li:not(.answers--intro) {
                                background: #fff;
                                border-radius: 5px;
                                @include box_shadow(6);
                                color: #000;
                                font-size: 1.3rem;
                                font-weight: 400;
                                position: relative;
                                cursor: pointer;
                                outline: none;
                                margin-bottom: .5rem;

                                input[type="radio"] {
                                    position: relative;
                                    display: none;

                                    &:checked+label {
                                        background: $color-smartphones-second;
                                        color: #fff;

                                        &:before {
                                            border: 1px solid #fff;
                                        }
                                        &:after {
                                            content: '';
                                            position: absolute;
                                            top: -0.8rem;
                                            left: 2.7rem;
                                            background: #fff;
                                            @include circle(10px);
                                        }
                                    }

                                    &.apps-survey {
                                        &:checked+label {
                                            background: $color-apps-second;
                                        }
                                    }

                                    &.networks-survey {
                                        &:checked+label {
                                            background: $color-networks-second;
                                        }
                                    }
                                }

                                input[type="checkbox"] {
                                    position: relative;
                                    display: none;

                                    &:checked+label {
                                        background: $color-smartphones-second;
                                        color: #fff;

                                        &:before {
                                            border: 1px solid #fff;
                                        }
                                        &:after {
                                            content: '';
                                            position: absolute;
                                            left: 2.7rem;
                                            top: 19px;
                                            width: 9px;
                                            height: 17px;
                                            border: solid #fff;
                                            border-width: 0 4px 4px 0;
                                            transform: rotate(45deg);
                                        }
                                    }

                                    &:checked+label {

                                        &:after {
                                            content: '';
                                            position: absolute;
                                            left: 2.2rem;
                                            top: 35%;
                                            width: 12px;
                                            height: 26px;
                                            ;
                                            border: solid #fff;
                                            border-width: 0 4px 4px 0;
                                            -webkit-transform: rotate(45deg);
                                            transform: rotate(45deg) translateY(-50%);
                                        }
                                    }

                                    &.apps-survey {
                                        &:checked+label {
                                            background: $color-apps-second;
                                        }
                                    }

                                    &.networks-survey {
                                        &:checked+label {
                                            background: $color-networks-second;
                                        }
                                    }
                                }

                                label {
                                    @media (max-height: 460px) {
                                        padding: 1.2rem 0 1.2rem 8.3rem;
                                    }

                                    position: relative;
                                    width: 100%;
                                    text-align: left;
                                    padding: 1.5rem 0 1.5rem 8.3rem;
                                    display: inline-block;
                                    border-radius: 5px;
                                    background: #fff;
                                    z-index: 2;


                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: -0.8rem;
                                        left: 2rem;
                                        border: 1px solid $color-smartphones-second;
                                        background: transparent;
                                        @include circle(24px);
                                    }

                                    &.apps-survey {
                                        &::before {
                                            border: 1px solid $color-apps-second;
                                        }
                                    }

                                    &.networks-survey {
                                        &::before {
                                            border: 1px solid $color-networks-second;
                                        }

                                        span {
                                            display: none;
                                        }
                                    }

                                    .other__choice--text {
                                        background: none;
                                        border: none;
                                        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                                        color: #fff;
                                        outline: none;
                                        max-width: 70%;
                                        pointer-events: none;
                                    }

                                    &.checkbox {
                                        position: relative;
                                        width: 100%;
                                        text-align: left;
                                        padding: 1.5rem 0 1.5rem 8.3rem;
                                        display: inline-block;
                                        border-radius: 5px;
                                        background: #fff;
                                        z-index: 2;
                                        line-height: 1.4;

                                        &::before {
                                            content: '';
                                            position: absolute;
                                            top: -0.8rem;
                                            left: 2rem;
                                            border: 1px solid $color-smartphones-second;
                                            background: transparent;
                                            @include square(24px);
                                            border-radius: 0;
                                        }

                                        &.apps-survey {
                                            &::before {
                                                border: 1px solid $color-apps-second;
                                            }
                                        }

                                        &.networks-survey {
                                            &::before {
                                                border: 1px solid $color-networks-second;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        button, input[type=submit], .btn-swiper {
                            grid-area: e;
                            align-self: end;
                            grid-row: 3;
                            outline: none;

                            @include media-breakpoint-up(md) {
                                grid-column: 1/9;
                            }
                        }

                        .btn-swiper {
                            display: flex;
                            flex-flow: row-wrap;
                            justify-content: space-around;

                            .wrapper-btn-swiper {
                                width: 50%;
                                text-align: center;
                                align-self: center;
                                padding: 1.5rem 0;
                                outline: none;
                            }
                        }
                    }
                }

                &.wrapper-survey-redirection {
                    position: relative;
                    overflow: hidden;

                    &.smartphones-survey {
                        background: $color-smartphones;
                    }
                    &.apps-survey {
                        background: $color-apps;
                    }
                    &.networks-survey {
                        background: $color-networks;
                    }

                    @include media-breakpoint-up(md) {
                        max-width: 700px;
                        width: 100%;
                        max-height: 600px;
                    }


                    .body-main {
                        .wrapper-question {
                            grid-template-rows: 40% 1fr 6rem;

                            @include media-breakpoint-up(md) {
                                display: flex;
                                flex-flow: column;
                            }


                            h2 {
                                font-size: 1.8rem;
                                font-style: italic;
                                font-weight: 900;
                                text-transform: uppercase;
                                position: relative;
                                color: #fff;
                                margin: 0 0 1rem;
                            }

                            p {
                                margin: 0 0 1rem;
                                position: relative;

                                &:after {
                                    content: '';
                                    position: absolute;
                                    bottom: -1.5rem;
                                    left: 0;
                                    width: 30px;
                                    height: 4px;
                                    background: $color-smartphones-second;
                                }

                                &.apps-survey {

                                    &::after {
                                        background: $color-apps-second;
                                    }
                                }

                                &.networks-survey {

                                    &::after {
                                        background: $color-networks-second;
                                    }
                                }
                            }
                            .question {
                                @include media-breakpoint-up(md) {
                                    padding: 0 2rem;
                                    grid-row: 2;
                                    grid-column: 2/5;
                                    flex-grow: 1;
                                    justify-items: center;
                                    max-width: 350px;
                                    margin: 0 auto;
                                }
                            }
                            .answers {
                                align-self: start;
                                overflow: hidden;

                                @include media-breakpoint-up(md) {
                                    align-self: start;
                                    flex-grow: 1;
                                    grid-column: 2/6;
                                    text-align: center;
                                    margin: 0 auto; // width: 350px;
                                    padding: 0;
                                }
                                .checkbox {
                                    margin-top: 3rem;
                                    text-align: left;

                                    input {
                                        line-height: 1.6rem;
                                        vertical-align: middle;
                                    }

                                    label {
                                        margin-left: 1rem;
                                        line-height: 1.6rem;
                                        color: #fff;
                                    }
                                }
                                .redirect-skip {
                                    margin-top: 4rem;
                                    text-align: center;
                                }


                                input[type="email"] {
                                    padding: 2rem 0 .5rem;
                                    background: none;
                                    border: none;
                                    border-bottom: 1px solid $color-smartphones-second;
                                    outline: none;
                                    color: #fff;
                                    width: 100%;

                                    &::placeholder {
                                        color: rgba(255, 255, 255, .5);
                                        font-style: italic;
                                        font-size: 1.4rem;
                                    }

                                    &.apps-survey {
                                        border-bottom: 1px solid $color-apps-second;
                                    }

                                    &.networks-survey {
                                        border-bottom: 1px solid $color-networks-second;
                                    }
                                }

                                a {
                                    text-align: center;
                                    display: inline-block;
                                    font-size: 1.2rem;
                                    text-decoration: underline;
                                    color: #fff; // margin-top: 6rem;
                                }
                            }
                        }
                    }


                    .privacy-rules {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: #fff;
                        right: -100%;
                        transition: .3s ease-in-out;

                        .cross-exit {
                            position: absolute;
                            right: 2rem;
                            top: 2rem;
                            background: url('../images/cross.svg');
                            width: 20px;
                            height: 20px;
                            background-size: cover;
                            cursor: pointer;

                        }
                        h2 {
                            font-size: 1.6rem;
                            text-transform: none;
                            color: #000;
                            font-weight: 400;
                            padding: 6rem 2rem 0;
                            line-height: 1.6;
                            max-width: 350px;
                            margin: 2rem auto;

                        }

                        p {
                            color: #000;
                            padding: 0 2rem;
                            max-width: 350px;
                            margin: 1rem auto;

                        }
                    }
                }
            }
        }



        .question-on-social-media {

            .no-on-social-media {
                display: none;
            }

            &.answer-no {
                div {
                    display: none;
                }
                .no-on-social-media {
                    display: block;
                }
            }
        }

        .overflow-hidden {
            overflow: hidden;
        }
    }
